#projetos {
	
	background-color: ##272a35;
}

.container-projetos {

	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 150px;
	flex-direction: column;
}

.container-projetos h1 {

	color: white;
	font-size: 40px;
}

.container-projetos p {
	text-align: center;
	color: #8b8f84;
}

.container-projetos ul {
        
}

hr {
	margin-bottom: 25px;
}

#ul2 {	
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	gap: 10px;
	list-style: none;
}

#ul2 li {
	margin-bottom: 20px;
}

.container-projetos h2 {
	font-size: 15px;
}

hr {
	border-top:30px;
}

.projects-list{
	max-width: 100%;
    height: auto;
    overflow: scroll;
}



@media screen and (max-width:500px) {
	.container-projetos h1 {
		text-align: center;
		font-size: 30px;
	}

.container-projetos{
	margin-top: -0px;
}

}
